body{
    margin: auto;
    margin-top: 100px;
    text-align: center;
    background-image: url("https://timedotcom.files.wordpress.com/2018/09/scrabble-new-words-2018.jpg?quality=85");
}

h1{
    font-family: 'Patrick Hand SC', cursive;
    font-weight: 500;
    font-size: 50px;
    color: rgb(225, 230, 225);
}

h2{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 28px;
    margin: 20px;
    color: rgb(225, 230, 225);
}

p{
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    letter-spacing: 2px;
    position: relative;
    top: -10px;
    color: rgb(230, 230, 220);
}

#content{
    background-image: url("https://ugcorigin.s-microsoft.com/100/bccd69cf-ae72-418c-a98f-3b296fad4e53/200/v1/image.jpg");
    width: 740px;
    height: 540px;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgb(49, 49, 49);
}